# Ejecutables
*.exe
*.out
*.o
*.app
TempCodeRunnerFile.cpp

# VSCodium
.vscode/
.DS_Store
.Rproj.user
*.pper

# Matlab
*.asv

# R Project
*.Rproj.user/
*.Rhistory
*.RData

# Carpetas
bin/
obj/

# --- ARCHIVOS ---
*.mp4
*.pdf
*.html
